

#prof-hero{
     background-image: url("reg.jpg");
  width: 90%;
  height: 100%;
  background-size: auto;
  padding-top: 0.5rem;
  color: black;
  background-repeat: no-repeat;
  margin-left: 3rem;
  border-radius: 2rem;
  align-items:center;
  justify-items: center;
  box-shadow: 1rem #ff7b00 ;
}

.log-hero{
     background-image: url("reg.jpg");
width: 90%;
  height: 100vh;
  background-size: auto;
  padding-top: 0.5rem;
  color: black;
  background-repeat: no-repeat;
  margin-left: 3rem;
  border-radius: 2rem;
  align-items:center;
  justify-items: center;
  box-shadow: 1rem #ff7b00 ;
}

#register{
    margin-left: 15rem;
    border-radius: 2rem;
    width: fit-content;
    color: #ff7b00;
    margin-top: 8rem;
}
.text-info{
    align-items: center;
    margin-left: 3rem;
}

#prof-content{
   margin-left: 15rem;
    border-radius: 2rem;
    width: fit-content;
    margin-top: 1rem;
}



#prof-hero reg-form{
    padding: 0cm;
}