.body{
    background-color: brown;
}


#prof-hero{
    background-color: #023047;
}

.log-hero{
    /* background-color: #6c757d; */
    background-image: url("login.jpg");
  width: 90%;
  height: 100vh;
  background-size: auto;
  background-position: center;
  padding-top: 5rem;
  color: aliceblue;
  margin-left: 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
}