.main {
    height: 100vh;
}

.navbars {
    height: 10vh;
    background-color: #023047;
}

.main2 {
    height: 85vh;
    overflow: scroll;
    background-color: #333;
}

.footer {
    height: 5vh;
    background-color: #023047;
}

.pic {
    height: 40px;
    width: 40px;
}

.hero {
    height: 81vh;
    margin-bottom: 15px;
}

.index {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;
    height: 81vh;
    position: absolute;
    z-index: 1;
    filter: brightness(50%);
    background-size: contain;
}

.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    z-index: 2;
}

.hero1 {
    position: relative;
}

.hero3 {
    position: relative;
    z-index: 2;
}

.about {
    position: relative;
    z-index: 2;
    color: #fff;
}

.services {
    position: relative;
    z-index: 2;
    color: #fff;
}

.sidenav {
    height: 50vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .tag1 {
    position: absolute;
    top: 0;
}

.sidenav .tag2 {
    position: absolute;
    top: 50px;
}

.sidenav .tag3 {
    position: absolute;
    top: 100px;
}

.sidenav .tag4 {
    position: absolute;
    top: 150px;
}

.sidenav .tag5 {
    position: absolute;
    top: 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}