body {
    height: 100vh;
    margin: 0;
}

.pic {
    height: 40px;
    width: 40px;
}

.post {
    color: rgb(240, 240, 243);
}

.prof-pic {
    height: 300px;
    width: 300px;
}

.main-profile {
    background: #edf6f9;
    height: 100vh;
    overflow: scroll;
    padding: 10px;
}

.card-title {
    color: #01497c;
}

.card-body {
    color: #000000;
}

.card {
    opacity: 100%;
    border-radius: 8px;
    box-shadow: #01497c;
    margin-left: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}

.hood {
    color: antiquewhite;
    height: 100vh;
    background: #023047;
}

.home-hero {
    background-image: linear-gradient(to right top, #051937, #001e39, #00233a, #00273a, #022b3a);
    width: 100%;
    height: 100vh;
    opacity: 100%;
}

a {
    text-decoration: none;
    color: #023047;
}

.card-text {
    color: #023047;
}