{%load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>BlazeXpo</title>
    {%block styles%} {%bootstrap_css%}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    {%endblock%} {%block scripts%} {%bootstrap_javascript%} {%endblock%}
  </head>
  <body class="body"style="background-image:url({%static 'images/projects.jpeg'%})">
    {% block content %} {%endblock%}
  </body>
</html>
