{% extends 'base.html' %} {% block content %}
<section class="home-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"style="overflow: scroll;">
        <h4 class="text-center text-white">Hoods</h4>
        {% if hoods %}{% for hood in hoods %}
        <div class="card">
          <a href="/hood/{{hood.id}}">{{hood.name}}</a>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-4"style="overflow: scroll;">
        <h4 class="text-center text-white">Posts.</h4>
        {% if posts %}{% for post in posts %}
        <div class="card">
          <div class="card-title">{{post.title}}</div>
          <div class="card-body">{{post.post}}</div>
          <p>
            <small class="text-muted"
              >Posted by
              <strong>{{post.user}}.</strong> {{post.date|timesince}}</small
            >
          </p>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-3"style="overflow: scroll;">
        <h4 class="text-center text-white">Businesses</h4>
        {% if business %} {% for biz in business %}
        <div class="card">
          <div class="card-title">{{biz.name|title}}</div>
          <div class="card-body">{{biz.phone}} <br />{{biz.email}}</div>
          <p><small class="text-muted">{{biz.hood}}</small></p>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-2" style="overflow: scroll;">
        <h4 class="text-center text-white">Users</h4>
        {% if profiles %} {% for member in profiles %}
        <div class="card">
          {% if user.is_admin %}
          <a href="/adminprofile/{{member.id}}">{{member.username|title}}</a>
          {% else %}<a href="/profile/{{member.id}}"
            >{{member.username|title}}</a
          >
          {% endif %}
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock%}
