{% extends 'base.html' %}{% load static %}{%block content%}

<div class="container main">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h2 class="card-title">
          {{ hood.name |title}}
          <small class="text-muted">located in {{hood.location}}</small>
        </h2>
        <p class="card-text">
          Hood Admin: {{ hood.admin.user.username | title}} <br />
          <small class="text-muted">Tel: {{ hood.admin.phone | title}}</small
          >
          {% if user.is_admin %} {% if user.id == hood.admin.user.id %}
          <p> <small>To add another or edit hood <br> find the buuton a the navbar in the <a href="/home">home page.</a> </small></p>
        {% endif %}{% endif %}
        </p>
        <p class="card-text">
          <span><strong>{{hood.members.count}}</strong> Member</span>
          | <strong>{{ hood.business.count }}</strong> Businesses |
          <strong> {{ hood.post.count }}</strong>
          Post
        </p>
      </div>
      <div class="card">
        <h5>Contacts</h5>
        <p class="card-text">
          <span class="text">Police Station Telphone</span> &nbsp;<strong
            >{{hood.police}}</strong
          >
          | <span class="text">Health Center Telphone</span>
          <strong>{{hood.health}}</strong>
        </p>
      </div>
      <div class="card">
        <h5>Members</h5>
        {% if members %} {% for member in members %}
        <p>
          {% if member.pic %}
          <img
            src="{{member.pic.url}}"
            class="img-responsive rounded-pill pic"
            alt="pic"
          />{% else %}<img
            class="img-fluid rounded-pill pic"
            src="{% static 'images/hood3.jpeg'%}"
            alt="pic"
          />{% endif %} {{member.user.username| title}}
        </p>
        {%endfor %} {% endif %}
      </div>
    </div>
    <div class="col-md-4 register">
      <h4>Posts</h4>
      <button
        class="btn btn-sm btn-outline-info mb-4"
        data-bs-toggle="modal"
        data-bs-target="#myPost"
      >
        New Post
      </button>

      {% if posts %} {% for post in posts %}
      <div class="card">
        <div class="card-title">{{post.title}}</div>
        <div class="card-body">{{post.post}}</div>
        <hr />
        <p>
          <small class="text-muted"
            >Posted by<strong> {{post.user.username}}.</strong>
            {{post.date|timesince}}</small
          >
        </p>
      </div>
      {% endfor %}{% endif %}
    </div>
    <div class="col-md-4">
      
      <h4>Hood Businesses</h4><button
      class="btn btn-sm btn-outline-info mb-4"
      data-bs-toggle="modal"
      data-bs-target="#mybiz"
    >
      New Busines
    </button>
      {% if biz %} {% for b in biz %}
      <div class="card">
        <p>
          {% if b.pic %}
          <img
            src="{{b.pic.url}}"
            class="img-responsive rounded-pill pic"
            alt="pic"
          />{% else %}<img
            class="img-fluid rounded-pill pic"
            src="{% static 'images/hood3.jpeg'%}"
            alt="pic"
          />{% endif %}{{b.name|title}}
        </p>
      </div>
      {% endfor %} {% endif %}
    </div>
    <small class="text-muted">Account Created on: {{hood.date|date}}</small>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myPost">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-info">Add Post</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="title" class="form-label">{{form.title.label}}:</label
            ><br />
            {{form.title}}
          </div>
          <div class="form-group">
            <label for="post" class="form-label">{{form.post.label}}:</label
            ><br />
            {{form.post}}
          </div>
          <br />
          <!-- Modal footer -->
          <div class="modal-footer">
            
            <input type="submit" class="btn btn-info" value="upload" name="upload" />
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="mybiz">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-info">New Business</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="form-label"
              >{{b_form.name.label}}:</label
            ><br />
            {{b_form.name}}
          </div>
          <div class="form-group">
            <label for="email" class="form-label">{{b_form.email.label}}:</label
            ><br />
            {{b_form.email}}
          </div>
          <div class="form-group">
            <label for="pic" class="form-label">{{b_form.pic.label}}:</label
            ><br />
            {{b_form.pic}}
          </div>
          <br />
          <!-- Modal footer -->
          <div class="modal-footer">
            
            <input type="submit" class="btn btn-info" value="post" name="post" />
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
