{% load static %}
<nav class="navbar navbar-inverse bg bg-dark" style="height: 10vh">
  <div class="container-fluid text-white">
    <div class="navbar-header">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            class="navbar-brand text-white"
            href="/home"
            style="
              font-family: 'Akronim', cursive;
              font-size: 50px;
              font-weight: 900;
              filter: brightness(100%) saturate(200%);
            "
            >The Hood Watch</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <ul class="list-inline">
        {% if user.is_authenticated %}
        <li class="list-inline-item">
          <div class="dropdown">
            <a
              class="navbar-brand text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              href=""
              >{{user.username | title}} {% if user.profile.pic %}
              <img
                src="{{user.profile.pic.url}}"
                class="img-fluid rounded-pill pic"
                alt="image"
              />
              {% else %}
              <img
                class="img-fluid rounded-pill pic"
                src="{% static 'images/starating.jpeg'%}"
                alt="image"
              />{% endif %}
            </a>

            <ul class="dropdown-menu">
              {%if user.is_admin%}
              <li>
                <a
                  class="dropdown-item"
                  href="/adminprofile/{{user.admin.user.id}}"
                  >My Profile</a
                >
              </li>
              {% else %}
              <li>
                <a
                  class="dropdown-item"
                  href="/profile/{{user.profile.user.id}}"
                  >My Profile</a
                >
              </li>
              {%endif%}

              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        </li>
        {%if user.is_admin%}
        <li class="list-inline-item">
          <!-- Button to Open the Modal -->
          <a class="navbar-brand text-white" style='cursor: pointer;' data-bs-toggle="modal" data-bs-target="#myModal"
            > Add Hood!</a
          >
        </li>{%endif%}
        {% else %}
        <li class="list-inline-item">
          <a class="navbar-brand text-white" href="/register">Register</a>
          <a class="navbar-brand text-white" href="/login">Login</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="text-info">Neighbourhood</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="form-label">{{form.name.label}}:</label
            ><br />
            {{form.name}}
          </div>
          <div class="form-group">
            <label for="location" class="form-label"
              >{{form.location.label}}:</label
            ><br />
            {{form.location}}
          </div>
          <div class="form-group">
            <label for="occupants_count" class="form-label"
              >{{form.occupants_count.label}}:</label
            ><br />
            {{form.occupants_count}}
          </div>
          <div class="form-group">
            <label for="admin" class="form-label">{{form.admin.label}}:</label
            ><br />
            {{form.admin}}
          </div>
          <div class="form-group">
            <label for="health" class="form-label">{{form.health.label}}:</label
            ><br />
            {{form.health}}
          </div>
          <div class="form-group">
            <label for="police" class="form-label">{{form.police.label}}:</label
            ><br />
            {{form.police}}
          </div>
          <br />

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Upload</button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
